/* ================================================================
   ZEN-MODE CONTENT FRAME
   ================================================================ */

#main-window #tabbrowser-tabpanels browser[type] {
  margin: var(--zen-content-margin) !important;
  border-radius: var(--zen-border-radius) !important;
}

#main-window[inDOMFullscreen="true"] #tabbrowser-tabpanels browser[type],
#main-window[inFullscreen="true"] #tabbrowser-tabpanels browser[type] {
  margin: 0 !important;
  border-radius: 0 !important;
}

#tabbrowser-tabpanels {
  background: transparent !important;
}
